<section class='info'>
  <div class='info__container container'>
    <div class='info__photo-block'>
      <div class='info__text-block'>
        <h2 class='info__heading jsActivateAnimation' data-animation='fadeInUp'>
          Про нас
        </h2>
        <p class='info__text-p'>
          GLOBAL BARRISTERS – адвокатське об’єднання, яке надає юридичні послуги тільки в тих
          сферах, в яких має винятковий досвід і спеціалізацію.
        </p>
        <p class='info__text-p'>
          Ми вважаємо, що для того, щоб стати професіоналом в якійсь діяльності, нею необхідно
          результативно займатися щодня багато років. Тому наша компанія об’єднує вузькопрофільних
          фахівців, які ведуть практику в конкретних галузях права. В нашу спеціалізацію входить
          вирішення спорів, захист бізнесу, сімейне та спадкове право, кримінальне право, проблемні
          борги і антирейдерство.
        </p>

        <a href='{{HOST}}our-team/uk/' class='btn-default'>ДЕТАЛЬНІШЕ</a>
      </div>
    </div>
  </div>
  <div class='info__image-container jsActivateAnimation' data-animation='fadeInUpBig'>
    <img
      width='1075'
      height='970'
      src='https://mitrax.com.ua/wp-content/uploads/2020/05/virtual-reality-voor-architecten-en-interieurontwerpers-1-5.jpg'
      class='info__image-img'
      alt='building'
      loading='lazy'
      srcset='
      https://mitrax.com.ua/wp-content/uploads/2020/05/virtual-reality-voor-architecten-en-interieurontwerpers-1-5.jpg          1075w,
      https://mitrax.com.ua/wp-content/uploads/2020/05/virtual-reality-voor-architecten-en-interieurontwerpers-1-5-300x271.jpg   300w,
      https://mitrax.com.ua/wp-content/uploads/2020/05/virtual-reality-voor-architecten-en-interieurontwerpers-1-5-1024x924.jpg 1024w,
      https://mitrax.com.ua/wp-content/uploads/2020/05/virtual-reality-voor-architecten-en-interieurontwerpers-1-5-768x693.jpg   768w
    '
      sizes='(max-width: 1075px) 100vw, 1075px'
    />
  </div>
</section>