<section class='slider'>
  <div class='slider__backgrnd' style='background-image: url({{image}})'>
    <div class='slider__container container'>
      <h1 class='slider__heading'>
        Global Barristers - практика приватних клієнтів відзначена рейтингом The Legal 500 EMEA 2021
        серед кращих юридичних фірм України
      </h1>

      <div class='form__container'>
        <form action='submit' class='slider__form'>
          <div class='form__line'>
            <span class='form__mask'><input
                type='tel'
                name='mask-500'
                value=''
                class='form__input'
                size='40'
                aria-required='1'
                placeholder='+38 (___) ___-__-__'
                data-mask='+38 (___) ___-__-__'
                tabindex='-1'
              /></span>
            <div class='form__submit-bg'>
              <input
                type='submit'
                value='Отримати консультацію'
                class='form__submit-btn'
                tabindex='-1'
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>