<main>
  <div class='page-header' style='background-image: url({{image}});'></div>
  <div class='container not_found'>
    <h1 class='not_found'>
      404
    </h1>
    <h2 class='sub_not_found'>Сторінку не знайдено</h2>

    <p class='sub_not_par' style='opacity: 1;'>Запитану сторінку не знайдено. Можливо вона була
      видалена або переміщена за новою адресою.</p>

    <p class='sub_not_par' style='opacity: 1;'></p>

    <p style='opacity: 1; font-size: 14px'><a href='{{HOST}}/{{lang}}' class='link_to_home'>Головна
        сторінка</a></p>
  </div>
</main>