<footer class="footer">
  <div class="footer__container container">
    <div class="footer__wrapper">
      <div class="part">
        <div class="title-block">Популярні послуги</div>
        <div class="menu-menyu-v-podvale-pervyj-stolbik-ukr-container">
          <ul id="menu-menyu-v-podvale-pervyj-stolbik-ukr" class="menu">
            <li
              id="menu-item-6300"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-6300"
            >
              <a href="/uk/practices/virishennya-sporiv/">Вирішення спорів</a>
              <ul class="sub-menu">
                <li
                  id="menu-item-6301"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6301"
                >
                  <a href="/uk/practices/advokat-zi-trudovyh-sporiv/">Адвокат з трудових спорів</a>
                </li>
                <li
                  id="menu-item-6302"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6302"
                >
                  <a href="/uk/practices/finansovi-i-bankovski-spory/"
                    >Адвокат з банківських і фінансових спорів</a
                  >
                </li>
                <li
                  id="menu-item-6303"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6303"
                >
                  <a href="/uk/practices/sudovi-spory/">Адвокат з судових спорів</a>
                </li>
                <li
                  id="menu-item-6304"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6304"
                >
                  <a href="/uk/practices/advokat-s-nedvizhimosti/"
                    >Адвокат зі спорів щодо нерухомості</a
                  >
                </li>
              </ul>
            </li>
            <li
              id="menu-item-6305"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-6305"
            >
              <a href="/uk/practices/zahist-biznesu/">Захист бізнесу</a>
              <ul class="sub-menu">
                <li
                  id="menu-item-6306"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6306"
                >
                  <a href="/uk/practices/zahist-biznesu-vid-rejderstva/ejderstva/"
                    >Захист бізнесу від рейдерства</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="part custom">
        <div class="menu-menyu-v-podvale-vtoroj-stolbik-ukr-container">
          <ul id="menu-menyu-v-podvale-vtoroj-stolbik-ukr" class="menu">
            <li
              id="menu-item-6307"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-6307"
            >
              <a href="/uk/practices/simeyni-ta-maynovi-spori/">Адвокат зі сімейних спорів</a>
              <ul class="sub-menu">
                <li
                  id="menu-item-6308"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6308"
                >
                  <a href="/uk/practices/rozluchennja/">Адвокат з розлучення</a>
                </li>
                <li
                  id="menu-item-6309"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6309"
                >
                  <a href="/uk/practices/majno/">Адвокат з поділу майна</a>
                </li>
                <li
                  id="menu-item-6310"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6310"
                >
                  <a href="/uk/practices/podil-biznesu/">Адвокат з поділу бізнесу</a>
                </li>
                <li
                  id="menu-item-6311"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6311"
                >
                  <a href="/uk/practices/advokat-z-alimentiv/">Адвокат з аліментів</a>
                </li>
                <li
                  id="menu-item-6312"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6312"
                >
                  <a href="/uk/practices/usynovlennya/">Усиновлення дитини</a>
                </li>
                <li
                  id="menu-item-6313"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6313"
                >
                  <a href="/uk/practices/pozbavlennja-batkivskih-prav/"
                    >Позбавлення батьківських прав</a
                  >
                </li>
              </ul>
            </li>
            <li
              id="menu-item-6314"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6314"
            >
              <a href="/uk/practices/problemni-borgi/">Адвокат по стягненню заборгованності</a>
            </li>
          </ul>
        </div>
        <div class="title-block custom-title">Інше</div>
        <div class="menu-drugoe-ukr-container">
          <ul id="menu-drugoe-ukr" class="menu other">
            <li
              id="menu-item-6315"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6315"
            >
              <a
                target="_blank"
                rel="noopener"
                href="https://docs.google.com/document/d/11ShtqmzccqXU1X3DOjEFdn3e67-SrQtnqrdpAKCVeMY/edit?usp=sharing"
                >Політика конфіденційності</a
              >
            </li>
            <li
              id="menu-item-6316"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6316"
            >
              <a
                target="_blank"
                rel="noopener"
                href="https://docs.google.com/document/d/1ZD1is_KoVzo6J3tw9cOMcdd11-NEzb94NTp6vflCb68/edit?usp=sharing"
                >Договір оферти</a
              >
            </li>
            <li
              id="menu-item-6317"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6317"
            >
              <a
                target="_blank"
                rel="noopener"
                href="https://docs.google.com/document/d/1MtydG7nDOpIN_uVf0UibY1mJts1eS2uE4vUFNomX07o/edit?usp=sharing"
                >Прайс</a
              >
            </li>
            <li
              id="menu-item-9558"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9558"
            >
              <a href="https://mitrax.com.ua/uk/about-us/">Про нас</a>
            </li>
            <li
              id="menu-item-9559"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9559"
            >
              <a href="https://mitrax.com.ua/uk/mission-and-values/">Місія, цінності, стандарти</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="part">
        <div class="title-block">Наші контакти</div>
        <div class="contact-wrap">
          <div class="place">Київ</div>
          <a href="tel:380504621551">+38 (050) 462 15 51 </a>
        </div>
        <div class="contact-wrap">
          <div class="place">Одеса</div>
          <a href="tel:380686345555">+38 (068) 634 55 55 </a>
        </div>
        <div class="contact-wrap">
          <div class="place">Запоріжжя</div>
          <a href="tel:380954967991">+38 (095) 496 79 91 </a>
        </div>
        <div class="liq">
          <img src="https://robot.net.ua/upload/medialibrary/ba5/liqpay.png" alt="" />
        </div>

        <div class="social__links">
          <a
            href="https://www.facebook.com/MitraxLawFirm/"
            target="_blank"
            class="icon-Facebook"
          ></a>
          <a
            href="https://www.instagram.com/mitrax_law_firm/"
            target="_blank"
            class="icon-Instagram"
          ></a>
          <a
            href="https://www.linkedin.com/company/mitrax-attorneys-at-law-ukraine/mycompany/"
            target="_blank"
            class="icon-LinkedIn"
          ></a>
          <a
            href="https://www.youtube.com/channel/UCtjoQ3CbV_iMvwhaI1PEv-Q"
            target="_blank"
            class="icon-Youtube"
          ></a>
        </div>
      </div>
      <div class="part custom-part">
        <div class="writeSupervisor left">
          <img
            class="supervisorImg lazy"
            alt="supervisor"
            src="https://mitrax.com.ua/wp-content/themes/mitraxtheme_2/img/ars.jpg"
            style="display: block"
          />
          <div class="supervisorTitle">
            <p style="opacity: 1">Написати керівнику</p>
          </div>
          <div class="text">
            Якщо ви залишилися не задоволені нашою роботою або щось пішло не так. Напишіть керівнику
            компанії
          </div>
          <a href="#" target="_blank" class="btn-default js-get-contact">Написати</a>
        </div>
      </div>
    </div>

    <!-- <div class="social__links">
                                    <a href="https://www.facebook.com/MitraxLawFirm/" target="_blank" class="icon-Facebook"></a>
                                    <a href="https://www.instagram.com/mitrax_law_firm/" target="_blank" class="icon-Instagram"></a>
                                    <a onclick="return false;" href="https://www.linkedin.com/company/mitrax-attorneys-at-law-ukraine/mycompany/" target="_blank" class="icon-LinkedIn"></a>
                                    <a onclick="return false;" href="https://www.youtube.com/channel/UCtjoQ3CbV_iMvwhaI1PEv-Q" target="_blank" class="icon-Youtube"></a>
                                    <a href="https://twitter.com/MitraxLawFirm" target="_blank" class="icon-Twitter"></a>
                
            </div> -->

    <!-- <div class="copy-rights">
                <div class="part">
                    <p>© 2018 Mitrax. All Rights Reserved.</p>
                </div>
                <div class="part">
                    <p>Київ. Одеса. Запоріжжя. Україна.</p>
                </div>
                <div class="part">
                    <p><a href="https://dl.agency/" target="_blank">Created by DL agency</a></p>
                </div>
            </div> -->
  </div>
</footer>
