<header>
  <section class="header__pre"></section>
  <section class="header">
    <div class="top-menu">
      <div class="top-menu__container container">
        <div class="top-menu__numbers">
          <a class="top-menu__link" href="tel:+38 (099) 603 24 54">+38 (099) 603 24 54</a>
          <a class="top-menu__link" href="tel:+38 (098) 235 02 70">+38 (098) 235 02 70</a>
        </div>

        <div class="lang">
          <div class="lang__wrapper">
            <a href="/en/" class="lang__link lang_en"> en </a>
            <a href="/ru/" class="lang__link lang_ru"> ru </a>
            <a href="/uk/" class="lang__link lang_uk"> uk </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>
